.acceuil-content {
    --background : #e0def6;

    #header{
        height: 50%;
        background: black;
        display: flex;
        flex-direction: column;
        color: #fff;
        border-radius: 0 0 20px 20px;

        #app-bar{
            height: 60px;
            padding: 0 16px;
             display: flex;
             justify-content: space-between;

            #retour{
                font-size: 24px;
            }
        }
        #logo{
            width: 120px;
            height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            align-self: center;
          
        }
        h2{
            text-align: center;
            font-weight: bold;
            margin: 0;
            font-size: 20px;
        }
    }
    ion-card{
        box-shadow: none;
        position: absolute;
        top: 37%;
        left: 5%;
        right: 5%;
        border-radius: 20px;

        .card-content-md h1{
            font-weight: bold;
            font-size: 19px;
            text-align: center;
            margin-bottom: 5px;
        }

        .card-content-md p {
            text-align: center;
            font-size: 16px;
            margin-top: 45px;
        }

        ion-button{
            height: 40px;
            --box-shadow: none;
            text-transform: initial;
            font-size: 16px;
            letter-spacing: 0;
            font-weight: 400;
            --border-color: black;
            --color : black;
        }

        .signup-btn {
            --background: black;
            --border-color: black;
            --color: white; /* Set the text color to white or any color that suits your design */
        }

        .line-text{
            padding: 2px;
            margin-top: 40px;
            position: relative;
            height: 20px;

            .lines {
                height: 1px;
                background: #b5b5bb;
                display: block;
            }
            .text{
                position: absolute;
                top : -8px;
                left: 50%;
                transform: translateX(-50%);
                background: #fff;
                padding: 0 15px;
                font-size: 12px;
                font-weight: 500;
                color: #5e5e5e;
            }
        }
        .socials {
            margin-top: 18px;
            display: flex;
            justify-content: center;
            margin-bottom: 10px;

            ion-button{
                margin: 0 5px;
                --padding-start: 12px;
                --padding-end: 12px;

                ion-icon {
                    font-size: 18px;
                }
            }
            .btn-fb{
                --background: #567aa3;
            }
            .btn-twitter{
                --background: #48cff5;
            }
            .btn-google{
                --background: #fd684f;
            }
            .btn-cl{
                --background: #737373;
            }
        }


    }
}