.inscription-header{
    --background: white;
    border-left: 7px solid black;

    ion-toolbar {
        --background: white;
        color: rgb(205, 200, 200);
    }

    ion-title {
        color: rgb(54, 50, 50);
        text-align: center;
        align-items: center;
    }

    .retour {
        color:black;
    }
}

.inscription-content {
    --background:white;
    border-left: 7px solid black;

    .logo{
        color: black;
        text-align: center;
        margin-top: 50px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .form{
        padding: 0 12vw;
        margin-top: 50px;
        ion-input{
            --padding-start: 33px;
            --height: 55px;
            border: 2px solid black;
            border-radius: var(--border-radius);
            --border-radius: 25px;
            margin-bottom: 22px;
            --placeholder-color:  rgb(54, 50, 50);
            --color:rgb(54, 50, 50);
            
        }
    }
    .inscription-button{
        color: white;
        width: 50vw;
        background-color:black;
        margin-top: 50px;
        padding: 20px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 500;
        justify-content: flex-end;
        ion-icon{
            margin-left: 30px;
        }
    }

    .inscription-footer{
        color:  rgb(205, 200, 200);
        padding: 0 12vw;
        margin-top: 100px;
        text-align: center;

        h3{
            a{
            font-size: 1rem;
            font-weight: 400;
            color: rgb(205, 200, 200);
            }
            span{
                font-size: 1rem;
                color: black;
                font-weight: 500;
                }
        }
    }

}